
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: white;
    background-size: cover;
    width: 100%;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
.navbar {
    background-color: rgb(255, 51, 0, 0.82);
    margin-right: 0%;
    margin-left: 0%;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background-color: rgb(255, 51, 0, 0.85);
}

/* Valores para página de selección de sucursal */

#login-container {
    padding-top: 100px;
    padding-bottom: 20px;
}
.user_card {
    height: 400px;
    width: 320px;
    background:	rgb(246, 211, 60);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 100%;
    background: rgb(255, 51, 0);
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.form_container {
    margin-top: 100px;
}
#select-page {
    background: url(../assets/fondo02.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: rgb(0, 0, 0);
}
#lb1 {
    width: 360px;
    margin: 2% auto;
}
#lbbody {
    background: rgb(255, 51, 0, 0.85);
    padding: 22px;
    padding-top: 10px;
    border-top: 0;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media(max-width: 768px){
    #lbbody {
        max-width: 100%;
    }
}
@media(max-width: 360px){
    #lbbody {
        max-width: 98%;
    }
    #lb1 {
        padding-left: 2%;
    }
}
@media(max-width: 320px){
    #lbbody {
        max-width: 90%;
    }
    #lb1 {
        padding-right: 4%;
    }
}
@media(min-width: 768px){
    #lb1 {
        padding-top: 1%;
    }
    #cont1 {
        padding-top: 7%;
    }
}
#select-page p {
    color: black;
}
#inner {
    width: 20%;
    height: 20%;
    margin: 15px auto;
}
#textoLB {
    text-align: center;
    font-size: 16px;
}

/* Valores para página de selección de alimentos */

.row-alimento {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
@media(max-height: 415px) and (max-width: 760px) {
    .row-alimento {
        width: 77%;
        min-width: 275px;
        padding-left: 23%;
    }
}
#container-alimentos {
    text-align: center;
}
.img-fluid {
    max-width: 400px;
}
#cantidadUser {
    max-width: 50%;
    max-height: 50%;
}
#vistaCarta {
    background: white;
    padding-top: 20px;
}
#imagen-carta {
    max-width: 100%;
    height: 178px;
}


/* Valores para página de selección de cartas */

#vistaCartas {
    background: white;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
#imagen-cartas {
    max-width: 100%;
    max-height: 100%;
}
@media(max-width: 768px){
    #imagen-cartas {
        max-width: 100%;
        max-height: 100%;
        padding: 2px;
        border: 2px solid #000;
    }
}
@media(min-width: 1024px){
    #imagen-cartas {
        padding-top: 2px;
        max-width: 500px;
        min-width: 500px;
        max-height: 350px;
        min-height: 350px;
        padding: 2px;
        border: 2px solid #000;
    }
}

/* Valores para página del carrito de compras */

#tableContainer {
    background: white;
    max-width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#confirm-container {
    align-content: left;
    align-self: center;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}
#container-return {
    width: 10px;
    padding-top: 20px;
    padding-left: 50%;
}

/* Valores para el contador del carrito de compras */

#itemCount {
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
    padding-bottom: 10px;
    border-radius: 50%;
    background: black;
    color: yellow;
    text-align: center;
  }

