
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: rgba(225, 255, 117, 0.795);
    background-size: cover;
    width: 100%;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
.navbar {
    background-color: rgb(255, 51, 0, 0.82);
    margin-right: 0%;
    margin-left: 0%;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background-color: rgb(255, 51, 0, 0.85);
}

/* Valores para página de selección de sucursal */

#select-page {
    background: url(../assets/fondo02.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: rgb(0, 0, 0);
    margin: 0;
    position: fixed;
}
#lb1 {
    width: 360px;
    margin: 2% auto;
}
#lbbody {
    background: rgb(255, 51, 0, 0.85);
    padding: 25px;
    border-top: 0;
    color: #666;
    border-radius: 10px;
}
@media(max-width: 768px){
    #lbbody {
        max-width: 100%;
    }
}
@media(max-width: 360px){
    #lbbody {
        max-width: 98%;
    }
    #lb1 {
        padding-left: 2%;
    }
}
@media(max-width: 320px){
    #lbbody {
        max-width: 90%;
    }
    #lb1 {
        padding-right: 4%;
    }
}
@media(min-width: 768px){
    #lb1 {
        padding-top: 1%;
    }
    #cont1 {
        padding-top: 7%;
    }
}
#select-page p {
    color: black;
}
#inner {
    width: 200px;
    height: 200px;
    margin: 15px auto;
}
#textoLB {
    text-align: center;
    font-size: 16px;
}

/* Valores para página de selección de alimentos */

.row-alimento {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    min-width: 275px;
}
#container-alimentos {
    text-align: center;
}
.img-fluid {
    max-width: 400px;
}
#cantidadUser {
    max-width: 50%;
    max-height: 50%;
}
#vistaCarta {
    background: url(../assets/Carta-fondo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#imagen-carta {
    max-width: 100%;
    max-height: 100%;
}

/* Valores para página de selección de cartas */

#vistaCartas {
    background: url(../assets/Carta-fondo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#imagen-cartas {
    max-width: 100%;
    max-height: 100%;
}
@media(max-width: 768px){
    #imagen-cartas {
        max-width: 100%;
        max-height: 100%;
        padding: 2px;
        border: 2px solid #000;
    }
}
@media(min-width: 1024px){
    #imagen-cartas {
        padding-top: 2px;
        max-width: 500px;
        min-width: 500px;
        max-height: 350px;
        min-height: 350px;
        padding: 2px;
        border: 2px solid #000;
    }
}

