{% load static %}

<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" value="es-AR" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block title %}
        <title> Gestión | RapiResto </title>
    {% endblock title %}

    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "css/skin-yellow.min.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% block css_styles %}
    {% endblock css_styles %}

  </head>

  <body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <a href="/" class="logo">
          <span class="logo-mini" style="color:black;"><b>R</b>R</span>
          <span class="logo-lg"><b>Rapi</b>Resto</span>
        </a>
        <nav class="navbar navbar-expand">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
          <div class="navbar-nav ml-auto" id="logout">
                <a class="nav-item nav-link" style="color: black;" id="logoutBtn"><b>{{request.user.username}}</b></a>
                <a class="nav-item nav-link" style="color: black;" id="logoutBtn"> | </a>
                <a class="nav-item nav-link" style="color: black;" id="logoutBtn" href="/logout">Cerrar sesión</a>
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
          </div>

          <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <li class="header border-md-bottom">MENÚ PRINCIPAL</li>
            <li class="header"></li>
            <li id="btnCartas"><a href="/listacartas"><i class="fas fa-book-open active"></i> <span>&nbsp&nbsp Cartas</span></a></li>
            <li class="header"></li>
            <li id="btnAlimentos"><a href="/listaalimentos"><i class="fas fa-pizza-slice"></i> <span>&nbsp&nbsp Alimentos</span></a></li>
            <li class="header"></li>
            <li id="btnPedidos"><a href="/listapedidos"><i class="fas fa-shopping-cart"></i> <span>&nbsp&nbsp Pedidos</span></a></li>
            <li class="header"></li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <section class="content-header">
          {% block description %}
          
          {% endblock description %}
          
              <ol class="breadcrumb">
                <li><a href="/bienvenida"><i class="fa fa-dashboard"></i> Inicio</a></li>
                {% block navigation %}
                {% endblock navigation %}
              </ol>
          
        </section>

        <section class="content" style="align-text:center;">

          {% block content %}
          {% endblock content %}

        </section>
      </div>

      <footer class="main-footer">
        <div class="pull-right hidden-xs"><b>Versión</b> 0.1</div>
        <strong>Copyright &copy; 2019.</strong> Todos los derechos reservados.
      </footer>

    <script src="https://kit.fontawesome.com/0f635dc92c.js"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/fastclick.js" %}"></script>
    <script src="{% static "js/adminlte.min.js" %}"></script>
    <script src="{% static "js/demo.js" %}"></script>
    <script src="{% static "notify/notifyX.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if(window.location.href.indexOf("carta") > -1 ) {
                $('#btnCartas').css("background-color","#f39c12");
            }
            else if(window.location.href.indexOf("alimento") > -1 ) {
                $('#btnAlimentos').css("background-color","#f39c12");
            }
            else if(window.location.href.indexOf("pedido") > -1 ) {
                $('#btnPedidos').css("background-color","#f39c12");
            }
        });
    </script>
    {% block app_javascript %}
    {% endblock app_javascript %}

  </body>
</html>

