{% extends 'base_02.html' %}

{% block title %}
    <title>Inicio</title>
{% endblock title %}
{% block description %}
    <h1></h1>
{% endblock description %}
{% block navigation %}
    <li class="active">Alimentos</li>
{% endblock navigation %}
{% block content %}
    <div class="fluid-container" style="text-align: center;">
        <div style="padding-top: 8%;">
            <img class="img-fluid" id='logo-bienvenida' src="/static/assets/logoRR.png">
         </div>
    </div>
{% endblock content %}
