{% extends 'base_02.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Carta</title>
{% endblock title %}
{% block description %}
    <h1>Crear carta</h1>
{% endblock description %}
{% block content %}
    <div class="fluid-container" style="background:white;" style="width:600px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row" style="padding:10px;">
                <div id="div_id_nombre" class="form-group col-md-4"> 
                    <label for="id_nombre" class="col-form-label  requiredField">Nombre<span class="asteriskField">*</span></label> 
                    <div class=""> 
                        <input type="text" name="nombre" maxlength="75" class="textinput textInput form-control" required id="id_nombre">
                    </div> 
                </div> 
                <div id="div_id_sucursal" class="form-group col-md-4">
                    <label for="id_sucursal" class="col-form-label requiredField">Sucursal<span class="asteriskField">*</span> </label> 
                    <div class="">
                        <select name="sucursal" class="select form-control" required id="id_sucursal">
                            <option value="{{request.user.usuario.sucursal.numero}}" selected>{{request.user.usuario.sucursal}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row" style="padding:10px;">
                <div id="div_id_imagen" class="form-group col-md-4"> 
                        <label for="id_imagen" class="col-form-label ">Imagen</label> 
                    <div class=""> 
                        <input type="file" name="imagen" accept="image/*" class="clearablefileinput" id="id_imagen">
                    </div> 
                </div>
            </div>
            <div class="form-row" style="padding:10px;">
                <button type="submit" class="btn btn-primary" style="width:100px;">Enviar</button>
            </div>
        </form>
    </div>
{% endblock content %}

