{% extends 'base_02.html' %}
{% load static %}
{% block title %}
    <title>Alimento | RapiResto</title>
{% endblock title %}
{% block css_styles %}
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
{% endblock css_styles %}
{% block description %}
    <h1>Edición de alimento</h1>
{% endblock description %}
{% block navigation %}
    <li><a href="/listaalimentos">Alimentos</a></li>
    <li class="active">Editar alimento</li>
{% endblock navigation %}
{% block content %}
    <div class="fluid-container col-md-6" style="background:white;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row" style="padding:10px;">
                <div id="div_id_nombre" class="form-group col-md-8">
                    <label for="id_nombre" class="col-form-label  requiredField">Nombre<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="nombre" value="{{alimento.nombre}}" maxlength="80" class="textinput textInput form-control" required id="id_nombre">
                    </div>
                </div>
                 <div id="div_id_precio" class="form-group col-md-4">
                    <label for="id_precio" class="col-form-label  requiredField">Precio<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="number" name="precio" value="{{alimento.precio}}" step="0.01" class="numberinput form-control" required id="id_precio">
                    </div>
                </div> 
            </div> 
            <div class="form-row" style="padding:10px;">
                <div id="div_id_categoria" class="form-group col-md-8">
                    <label for="id_categoria" class="col-form-label  requiredField">Categoria<span class="asteriskField">*</span></label>
                    <div class="">
                        <select name="categoria" class="select form-control" required id="id_categoria">
                            <option value="">---------</option>
                            {% for categoria in categorias %}
                                {% ifequal alimento.categoria categoria %}
                                    <option value="{{categoria.id}}" selected>{{categoria.nombre}}</option>
                                {% else %}
                                    <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row" style="padding:10px;">
                <div id="div_id_recomendaciones" class="form-group col-md-8">
                    <label for="id_recomendaciones" class="col-form-label ">Recomendaciones</label>
                    <div class="">
                        <select class="js-example-basic-multiple" name="recomendaciones" id="id_recomendaciones" multiple="multiple" style="width:100%">
                            {% for recomendacion in alimento.recomendaciones.all %}
                                <option value="{{recomendacion.id}}" selected>{{recomendacion.nombre}}</option>
                            {% endfor %}
                            {% for alimento in alimentos %}
                                <option value="{{alimento.id}}">{{alimento.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row" style="padding:10px;">
                <div id="div_id_descripcion" class="form-group col-md-8">
                    <label for="id_descripcion" class="col-form-label ">Descripción</label>
                    <div class="">
                        <textarea name="descripcion" cols="40" rows="3" class="textarea form-control" id="id_descripcion" value>{{alimento.descripcion}}</textarea> 
                    </div>
                </div>
             </div>
            <div class="form-row" style="padding:10px;">
                <div id="div_id_imagen" class="form-group col-md-8">
                    <label for="id_imagen" class="col-form-label ">Imagen actual</label>
                        <div class="">
                            <img src="/static/assets/{{alimento.imagen}}" style="max-width:100%;">
                        </div>
                    <div class=""></a><br>
                        <input type="file" name="imagen" accept="image/*" class="clearablefileinput" id="id_imagen">
                    </div>
                </div>
            </div>
            <div class="form-row" style="padding:10px;">
                <button type="submit" class="btn btn-primary" style="width:100px;">Guardar</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block app_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>
{% endblock app_javascript %}
