{% extends 'base_02.html' %}

{% block title %}
    <title>Alimento</title>
{% endblock title %}
{% block description %}
    <h1>Detalles del producto</h1>
{% endblock description %}
{% block navigation %}
    <li><a href="/listaalimentos">Alimentos</a></li>
    <li class="active">Alimento</li>
{% endblock navigation %}
{% block content %}
    <div class="row">
        <div class="col-md-3" style="width:400px;">
            <div class="card text-white bg-dark border-warning mb-3">
                <img src="/static/assets/{{alimento.imagen}}" class="card-img-top" style="max-height:180px;">
                <div class="card-body">
                <h4 class="card-header bg-transparent border-warning">{{alimento.nombre}}</h4>
                <h5 class="card-title" style="padding-top:12px;">${{alimento.precio}}</h5>
                <p class="card-text">{{alimento.descripcion}}</div>
                <div class="card-footer">
                <small class="text-muted">Categoría: {{alimento.categoria}}</small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

