[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-extensions = "*"
psycopg2 = "*"
pillow = "*"
django-crispy-forms = "*"
django-image-optimizer = "*"
channels = "*"
pypiwin32 = "*"

[requires]
python_version = "3.7"
