{% extends 'base_01.html' %}
{% load static %}
{% block title %}
    <title>Carrito | RapiResto</title>
{% endblock title %}
{% block css_styles %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock css_styles %}
{% block content %}
    <div id="container-return"><a href="/{{sucursal}}/cartas"><span class="oi oi-chevron-left"></span></a></div>
    <div class="table-responsive" id="tableContainer">
        <table id="table" class="table table-striped table-bordered border-warning" style="max-width:100%">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th>Gestión</th>
                </tr>
            </thead>
            <tbody>
                {% for datos in lista %}
                    <tr>
                        <form action="/eliminarItem" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="alimento" value={{datos.alimentoID}}>
                            <td><b>{{datos.alimentoNombre}}</b></td>            
                            <td>{{datos.cantidad}}</td>
                            <td>${{datos.precio}}</td>            
                            <td>${{datos.subtotal}}</td>
                            <td><button class="btn btn-danger btn-flat" type="submit">Quitar</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div><br>
    <div id="confirm-container">
        <form action="/confirmar" method="post">
            {% csrf_token %}
                {% if total == 0 %}
                    <p><b>Total: ${{total}}</b>&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-warning btn-flat" id='confirmar' type="submit" disabled>Confirmar pedido</button></p>
                {% else %}
                    <p><b>Total: ${{total}}</b>&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-warning btn-flat" id='confirmar' type="submit">Confirmar pedido</button></p>
                {% endif %}
        </form>
    </div>
{% endblock content %}
{% block app_javascript %}
    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
        $('table').DataTable(
            {
                "language" : {
                    "url" : "{% static 'js/Spanish.json' %}"
                },
                    "columnDefs" : [
                     {"orderable" : false, "targets" : 4}
                    ]
            }
        );
    } );
    </script>
    <script>
        $(document).on('click', '#confirmar', function(){
            return confirm('Seguro que deseas continuar?');
        })
    </script>
{% endblock app_javascript %}

