{% extends 'base_01.html' %}

    {% block title %}
        <title>Carrito</title>
    {% endblock title %}
    {% block css_styles %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    {% endblock css_styles %}
    {% block content %}
        <div class="table-responsive" id="tableContainer">
            <table id="table" class="table table-striped table-bordered" style="max-width:100%">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for alimento, datos in lista.items %}
                        <tr>
                            <form action="/delete" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="alimento" value={{alimento.id}}>
                                <td><b>{{alimento.nombre}}</b></td>            
                                <td>{{datos.0}}</td>
                                <td>${{alimento.precio}}</td>            
                                <td>${{datos.1}}</td>
                                <td><button class="btn btn-danger btn-flat" type="submit">Quitar</button></td>
                        </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <form action="/confirmar" method="post">
                {% csrf_token %}
                 <p><b>Total: ${{total}}</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-warning btn-flat" type="submit">Confirmar pedido</button></p>
            </form>
     
    {% endblock content %}
    {% block app_javascript %}
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready( function () {
                $('table').DataTable();
            } );
        </script>
    {% endblock app_javascript %}

