{% extends 'base.html' %}

<head>
    {% block title %}
        <title>Lista de cartas</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
    {% block content %}
        {% for carta in cartas %}
            <h1>{{carta.nombre}}</h1>
            {{carta.sucursal}}  
            <a >   | <a href = "/carta/{{carta.id}}"> Ver</a>
            <br>
        {% endfor %}
    {% endblock %}
</body>
