{% extends 'base.html' %}

<head>
    {% block title %}
        <title>Lista de alimentos</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock %}
 
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <h1>{{ alimentosCarta.0.carta.nombre }}</h1> <br>
        <div class="row">
            {% for alimentoCarta in alimentosCarta %}
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card mx-auto text-center">
                        {% if alimentoCarta.alimento.imagen != None %}
                            <img class="img-fluid" src="/static/assets/{{alimentoCarta.alimento.imagen}}" class="card-img-top">
                        {% endif %}
                        <form method="post">
                        {% csrf_token %}
                        <div class="card-header">
                            {{alimentoCarta.alimento.nombre}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">${{alimentoCarta.alimento.precio}}</h5>
                            {% if alimentoCarta.stock == 0 %}
                                <p class="card-text">No disponible</p>
                            {% else %}
                                <p class="card-text">Disp: {{alimentoCarta.stock}}</p>
                                <input id="cantidad" type="number" name="cantidad"><br>
                                <input id="alimento" type="hidden" name="alimento" value={{alimentoCarta.alimento.id}}>
                                <button type="submit" class="btn btn-warning btn-block btn-flat">Añadir</button>
                            {% endif %}
                        </div>
                    </form>
                    </div><br>
                    </div>
            {% endfor %}
        </div> 
    </div>

    <script>
    </script>
    {% endblock %}
</body>
