{% extends 'base_01.html' %}

    {% block title %}
        <title>Lista de cartas</title>
    {% endblock title %}
    {% block  css_styles %}
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock css_styles %}
    {% block content %}
        <div class="fluid-container" id="vistaCartas">
            {% for carta in cartas %}
                <a href="/carta/{{carta.id}}"><img class="img-fluid" id="imagen-cartas" src="/static/assets/{{carta.imagen}}"/></a>
            {% endfor %}
        </div>
    {% endblock content %}
    {% block app_javascript %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                console.log('result');
                $.ajax({
                    url: '/obtenerItems',
                    type: 'get',
                    data: '',
                    success: function(result){
                        console.log(result);
                            $('#itemCount').html(result.items).css('display', 'block');
                    }
                });
            });
        </script>
    {% endblock app_javascript %}

