{% extends 'base_01.html' %}
    {% block content %}
        <div class="container h-100" id="login-container">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="/static/assets/LogoRR.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <div class="login-box-body" id="lbbody">
                            <p class="login-box-msg" id="textoLB"><b>Ingresá tu ubicación:</b></p>
                            <form method="post">
                                {% csrf_token %}
                                <input id="sucursal" type="hidden" name="sucursal"/>
                                <input id="mesa" type="hidden" name="mesa"/>
                                <div class="form-group has-feedback">
                                    <p align="left" ><b> Sucursal: </b><select name="elegirsucursal" id="elegirsucursal" style="max-width:100%"></p>
                                    {% for sucursal in sucursales %}
                                        <option val="{{ sucursal }}"> {{ sucursal }} </option>	
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <p align="left" ><b>Mesa:&nbsp&nbsp&nbsp&nbsp</b><select name ="elegirmesa" id="elegirmesa" style="max-width:100%"></p>
                                </select>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-warning btn-block btn-flat">Seleccionar</button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class='container' id='contenedor_mapa'>
            <h1>¿Dónde estamos?</h1><br>
            {% include 'mapa.html' %}
        </div>
    {% endblock content %}
    {% block app_javascript %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('select#elegirmesa').click(function () {
                    $('input[name="mesa"]').val($(this).prop('selectedIndex')+1);
                    $('input[name="sucursal"]').val($("#elegirsucursal").prop('selectedIndex')+1);
                });
            });
        </script>
        <script>
            $(document).ready(function(){
                $('select#elegirsucursal').click(function () {
                    var optionSelected = $(this).find("option:selected");
                    var valueSelected  = optionSelected.val();
                    var nombre_suc   = optionSelected.text();
                    dataS = {'suc' : nombre_suc };
                    $.ajax({
                    url: 'obtenerMesas',
                    type: 'get',
                    data: dataS,
                    success: function(result){
                        console.log(result);
                            $("#elegirmesa option").remove();
                            for (var i = 0 ; i < result.length ; i++) {
                                $("#elegirmesa").append('<option>'+ result[i]["fields"]["numero"] +'</option>');    
                            };
                    }
                    });
                    $('input[name="sucursal"]').val($("#elegirsucursal").prop('selectedIndex')+1);
                    $('input[name="mesa"]').val(1);
                });
            });
        </script>
    {% endblock app_javascript %}

