{% extends 'base_01.html' %}

<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

{% block content %}
<body class="hold-transition" id="select-page">
    <div class="img-container" id="cont1">
        <div class="inner" id="inner">
            <img src="/static/assets/LogoRR.png">
        </div>
    </div>
    <div class="login-box" id="lb1">
        <div class="login-box-body" id="lbbody">
            <p class="login-box-msg" id="textoLB">Ingresá tu ubicación:</p>
            <form method="post">
                {% csrf_token %}
                <input id="sucursal" type="hidden" name="sucursal"/>
                <input id="mesa" type="hidden" name="mesa"/>
            <div class="form-group has-feedback">
                <p>Sucursal: <select name="elegirsucursal" id="elegirsucursal"></p>
                {% for sucursal in sucursales %}
                    <option val="{{ sucursal }}"> {{ sucursal }} </option>	
                {% endfor %}
                </select>
            </div>
            <div class="form-group has-feedback">
                <p>Mesa:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select name ="elegirmesa" id="elegirmesa"></p>
                </select>
            </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-warning btn-block btn-flat">Seleccionar</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    {% endblock %}
    {% block app_javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('select#elegirmesa').click(function () {
                $('input[name="mesa"]').val($(this).prop('selectedIndex')+1);
                $('input[name="sucursal"]').val($("#elegirsucursal").prop('selectedIndex')+1);
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $('select#elegirsucursal').click(function () {
                var optionSelected = $(this).find("option:selected");
                var valueSelected  = optionSelected.val();
                var nombre_suc   = optionSelected.text();
                dataS = {'suc' : nombre_suc };
                $.ajax({
                url: 'getMesas',
                type: 'get',
                data: dataS,
                success: function(result){
                    console.log(result);
                        $("#elegirmesa option").remove();
                        for (var i = 0 ; i < result.length ; i++) {
                            $("#elegirmesa").append('<option>'+ result[i].mesa +'</option>');    
                        };
                }
                });

                $('input[name="sucursal"]').val($("#elegirsucursal").prop('selectedIndex')+1);
                $('input[name="mesa"]').val(1);
                
            });
        });
    </script>
    
    {% endblock %}
</body>
